@import url(https://fast.fonts.net/cssapi/2b711b0d-fbe0-4a83-80e8-86e2497fcbcb.css);
/* CSS RESET RULES */
html, nav, a, abbr, acronym, address, area, b, bdo, big, blockquote, button, caption, cite, code,
col, colgroup, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, hr, i, img,
ins, kbd, label, legend, li, map, object, ol, p, param, pre, q, samp, small, span, strong, sub,
sup, table, tbody, td, textarea, input, tfoot, th, thead, tr, tt, ul, var, article, aside {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'HelveticaNeueW01-55Roma', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
line-height:18px;
    background: /*#edf0f2*/#dfe3e6;
    color: #39464f;
}

.text-center{
	text-align:center;
}
.img.center {
    display: block;
    margin: 0 auto;
}

:hover {
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

a:link, a:active, a:visited{
	text-decoration:none;
	color:#008cc5;
color:#FE5000;
}
a:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    cursor: pointer;
		color:#0881b4;
color:#da4c1f;
}

h1,
h2,
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
h4,
h5,
h6 {
font-family: 'HelveticaNeueW01-65Medi', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight:normal;
}
h1 {
    font-size:36px;
    line-height:40px;
    margin:48px auto 24px;
}
h2 {
    font-size:24px;
    font-weight:600;
    line-height:29px;
    margin:36px auto 12px;
}
h3 {
    font-size:24px;
    font-weight:600;
    line-height:29px;
    margin:36px auto 12px;
}
h3 a:link, h3 a:active, h3 a:visited{
	color:#2a353d;
}
h3 a:hover{
	color:#FE5000;
}

h4 {
    font-size:21px;
    line-height:24px;
    margin:12px auto 6px;
}
p {
    font-size:18px;
    line-height:24px;
    margin:12px auto 6px;
}
ul {
    list-style-type:disc;
    margin:24px 1em;
}
li{
    padding:6px 0 0;
}

/* _ common classes _ */
.hidden{display:none;}
.left{float:left;}
.right{float:right;}
.clearfix{clear:both;}
.nobr{white-space:nowrap;}
.smalltext{font-size:12px !important; line-height:14px;}
.separator{display:block;margin:6px 0;width:100%;height:2px;background-color:#edf0f2;}
.nopad{padding:0px 0px 0px 0px !important;}
.pad{padding:24px;}
span.reverse{
    display:inline-block;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
.normal{
    font-family: 'HelveticaNeueW01-55Roma', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight:normal !important;
}
.thin{
    font-family: 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight:normal !important;
}
.light{
    font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight:normal !important;
}
.medi{
    font-family: 'HelveticaNeueW01-65Medi', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight:normal !important;
}
.bold{
    font-family: 'HelveticaNeueW01-75Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight:normal !important;
}
@media(max-width:1023px){
    h1 .nobr{white-space:unset;}
}
@media(max-width:767px){
    .nobr{white-space:unset;}
}

/* _ alignment _ */
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.block{
	display:block;
}
.block-center{
	margin:0 auto;
}

/* _ colors _ */
.orange{color:#FE5000 !important;}
.text-grey{color:#526774 !important;}
.dark-grey{color:#39464F !important;}
.white{color:#FFF !important;}
.black{color:#2a353d !important;}
.blue{color:#008cc5 !important;}

.bg_blue a:link, .bg_blue a:active, .bg_blue a:visited, .bg_dark-grey a:link, .bg_dark-grey a:active, .bg_dark-grey a:visited{
color:#ffe34e;
}
.bg_blue a:hover, .bg_dark-grey a:hover{
color:#e5cd48;
}

.bg_orange{
    background-color:#FE5000;
    color:#FFF;
}
.bg_orange a:link, .bg_orange a:active, .bg_orange a:visited{
color:#FFF;
}
.bg_orange a:hover{
color:#edf0f2;
}
.bg_grey{background-color:#edf0f2;}
.bg_dark-grey{
    background-color:#39464F;
    color:#FFF;
}
.bg_blackblack {
    background-color:#000;
    color: #FFF;
}
.bg_black {
    background-color:#2a353d;
    color: #FFF;
}
.bg_blue {
    background-color: #008cc5;
    color: #FFF;
}

.bg_white{
    background-color:#FFF;
    color:#526774;
}
.bg_green{
    background:#00b19e;
    color:#FFF;
}
.bg_green h1, .bg_green h2, .bg_green h3, .bg_green h4, .bg_green h5,  .bg_green h6{
    color:#FFF;
}
.bg_lightblue{
    background:#e5f3f9;
}
.bg_lightgreen{
    background:#e5f7f5;
}
.bg_lightgreen h2{
    color:#00b19f;
}


/*  buttons  */
.button, button, #rn_Container input[type="submit"], .rn_Dialog button, .rn_Dialog input[type="submit"], .rn_CreateAccountInfo button, .rn_AnswerFeedback2 button, .rn_Notification_Actions button, .rn_ProdCatNotificationManager button, .rn_ChatLaunchButton button, #rn_SearchControls form input[type="submit"]{
    display:inline-block;
    margin:16px 24px;
    font-family: 'HelveticaNeueW01-75Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    padding:6px 24px;
    border-radius: 30px;
    border:none;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-border-radius: 30px;
}
#rn_Container input[type="submit"], .rn_Dialog button, .rn_Dialog input[type="submit"], .rn_CreateAccountInfo button, .rn_AnswerFeedback2 button, .rn_Notification_Actions button, .rn_ProdCatNotificationManager button, .rn_ChatLaunchButton button, #rn_SearchControls form input[type="submit"]{
    background: #fd5000;
    color: #fff !important;
text-shadow:none;
box-shadow:none;
font-weight:normal;
}
.rn_AnswerFeedback2 button, .rn_Dialog button{
margin:0 auto 0 6px !important;
}
.rn_AnswerFeedback2 button{
    background: #fff;
    color: #fe5009 !important;
    border: 1px solid #fe5009;
}
.rn_AnswerFeedback2 button:hover{
    background: #fe5009;
    color: #fff !important;
}
.rn_Dialog button{
    background-color: #5d7483;
    color: #FFF;
}
.rn_Dialog button:hover {
    background:#546977; 
    color:#FFF;
}

.button_orange:hover {
    background:#d0481d;
}
.button_white {
    background: #fff;
    color: #fe5009 !important;
    border: 1px solid #fe5009;
}

.bg_orange .button_white:hover{
    background:#d0481d;
}
.button_blue {
    background-color: #008cc5;
    color: #FFF;
}
.button_blue:link, .button_blue:active, .button_blue:visited{
    color: #FFF;
}
.button_blue:hover, input[type=submit].button_blue:hover{
    background:#087bac; 
    color:#FFF;  
}
.button_grey {
    background-color: #5d7483;
    color: #FFF;
}
.button_grey:link, .button_grey:active, .button_grey:visited{
    color: #FFF;
}
.button_grey:hover, input[type=submit].button_grey:hover{
    background:#546977; 
    color:#FFF;  
}
.button_white-green{
    background:#FFF;
    color:#00b19f;
}

/* layout sections */
section, .outer {
    padding:24px 0px 72px !important;
		clear:both;
}
section [class*='col-'], .outer [class*='col-']{
    padding:0 24px;   
}

@media(max-width:768px){
section{
    padding:24px 24px !important;
}
section [class*='col-']{
    padding:0 24px 24px !important;   
}
section [class*='col-']:first-child{
    padding:24px 24px !important;
    /*padding-right:unset !important;*/
}
section [class*='col-']:last-child{
    padding:24px 24px !important;
    /*padding-left:unset !important;*/
}
}

/**** NEW DEFINITIONS ****/
.utility .button{
font-size:18px;
}

/**** KB OVERRIDES ****/
center{text-align:left;}
div[style="position: absolute; height: 1px; width: 1px; top: -1000px; left: -1000px;"]{
position:unset !important;
height:0px !important;
width:0px !important;
top:0 !important;
left:0 !important;
}
div[style="position: absolute; height: 1px; width: 1px; top: -1000px; left: -1000px;"] span{
visibility:hidden;
}
*{box-sizing:unset;}
#rn_Body, #rn_Footer{
border:none;
}
#rn_Body{
border-top:#a5b7c2 1px solid;
}
#rn_Container {
max-width:976px;
}
#rn_SearchControls {
    background: #edf0f2;
    border: none;
    clear: none;
    float: none;
    overflow: unset;
    padding: 24px 9px 48px;
    position: unset;
    width:98%;
}
#rn_SearchControls form{
padding: 0 18px 6px;
}
@media(max-width:767px){
.rn_KeywordText2 label{
top:52px !important;
font-size:12px;
}
}
#rn_NavigationBar{
float:none;
}
#rn_MainColumn{
width:99%;
margin:-6px 0 0;
}
.rn_Module {
    background: #f5f5f5;
    border: none;
    padding: 8px;
}
.rn_Module h2{
font-family:unset;
font-weight:normal;
margin:0 auto;
background:none;
border-bottom:#a5b7c2 1px solid;
}
h2.rn_HeadingBar{
font-size:18px;
}
.trial{
padding-top:12px;
color:#2a353d;
font-family: 'HelveticaNeueW01-65Medi', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size:18px;
}
.language{
margin:1.5em;
}
.rn_NavigationTab2 a:link, .rn_NavigationTab2 a:visited, .rn_NavigationTab2 a:hover, .rn_NavigationTab2 a:active{
background:#edf0f2;
color:#39464f;
}
.rn_NavigationTab2 a{
background:#edf0f2;
border:none;
}
.rn_NavigationTab2 a.rn_SelectedTab{
background:#fe5000;
color:#FFF;
}

