@import url(https://fast.fonts.net/cssapi/2b711b0d-fbe0-4a83-80e8-86e2497fcbcb.css);
/* CSS RESET RULES */
html, nav, a, abbr, acronym, address, area, b, bdo, big, blockquote, button, caption, cite, code,
col, colgroup, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, hr, i, img,
ins, kbd, label, legend, li, map, object, ol, p, param, pre, q, samp, small, span, strong, sub,
sup, table, tbody, td, textarea, input, tfoot, th, thead, tr, tt, ul, var, article, aside {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'HelveticaNeueW01-55Roma', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background: /*#edf0f2*/#dfe3e6;
    color: #39464f;
}

img {
    display: block;
    border: 0;
    max-width: 100%;
}
.text-center{
	text-align:center;
}
.img.center {
    display: block;
    margin: 0 auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
:hover {
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

a:link, a:active, a:visited{
	text-decoration:none;
	color:#008cc5;
color:#FE5000;
}
a:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    cursor: pointer;
		color:#0881b4;
color:#da4c1f;
}

h1,
h2,
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
h4,
h5,
h6 {
font-family: 'HelveticaNeueW01-65Medi', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight:normal;
}
h1 {
    font-size: 48px;
    margin:48px auto 24px;
    line-height: 50px;
}
h2 {
    font-size:36px;
    line-height:40px;
    margin:36px auto 24px;
}
h3 {
    font-size:24px;
    font-weight:600;
    line-height:29px;
    margin:36px auto 12px;
}
h3 a:link, h3 a:active, h3 a:visited{
	color:#2a353d;
}
h3 a:hover{
	color:#FE5000;
}

h4 {
    font-size:21px;
    line-height:24px;
    margin:12px auto 6px;
}
p {
    font-size:18px;
    line-height:24px;
    margin:12px auto 6px;
}
ul {
    list-style-type:disc;
    margin:24px 1em;
}
li{
    padding:6px 0;
}

/* _ common classes _ */
.hidden{display:none;}
.sfPageEditor section.hidden{display:block !important;}
.left{float:left;}
.right{float:right;}
.clearfix{clear:both;}
.nobr{white-space:nowrap;}
.smalltext{font-size:12px !important; line-height:14px;}
.separator{display:block;margin:6px 0;width:100%;height:2px;background-color:#edf0f2;}
.nopad{padding:0px 0px 0px 0px !important;}
.pad{padding:24px;}
span.reverse{
    display:inline-block;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
.normal{
    font-family: 'HelveticaNeueW01-55Roma', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight:normal !important;
}
.thin{
    font-family: 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight:normal !important;
}
.light{
    font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight:normal !important;
}
.medi{
    font-family: 'HelveticaNeueW01-65Medi', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight:normal !important;
}
.bold{
    font-family: 'HelveticaNeueW01-75Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight:normal !important;
}
@media(max-width:1023px){
    h1 .nobr{white-space:unset;}
}
@media(max-width:767px){
    .nobr{white-space:unset;}
}

/* _ alignment _ */
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.block{
	display:block;
}
.block-center{
	margin:0 auto;
}

/* _ colors _ */
.orange{color:#FE5000 !important;}
.text-grey{color:#526774 !important;}
.dark-grey{color:#39464F !important;}
.white{color:#FFF !important;}
.black{color:#2a353d !important;}
.blue{color:#008cc5 !important;}

.bg_blue a:link, .bg_blue a:active, .bg_blue a:visited, .bg_dark-grey a:link, .bg_dark-grey a:active, .bg_dark-grey a:visited{
color:#ffe34e;
}
.bg_blue a:hover, .bg_dark-grey a:hover{
color:#e5cd48;
}

.bg_orange{
    background-color:#FE5000;
    color:#FFF;
}
.bg_orange a:link, .bg_orange a:active, .bg_orange a:visited{
color:#FFF;
}
.bg_orange a:hover{
color:#edf0f2;
}
.bg_grey{background-color:#edf0f2;}
.bg_dark-grey{
    background-color:#39464F;
    color:#FFF;
}
.bg_blackblack {
    background-color:#000;
    color: #FFF;
}
.bg_black {
    background-color:#2a353d;
    color: #FFF;
}
.bg_blue {
    background-color: #008cc5;
    color: #FFF;
}

.bg_white{
    background-color:#FFF;
    color:#526774;
}
.bg_green{
    background:#00b19e;
    color:#FFF;
}
.bg_green h1, .bg_green h2, .bg_green h3, .bg_green h4, .bg_green h5,  .bg_green h6{
    color:#FFF;
}
.bg_lightblue{
    background:#e5f3f9;
}
.bg_lightgreen{
    background:#e5f7f5;
}
.bg_lightgreen h2{
    color:#00b19f;
}

/* borders & horizontal rules */
.border-grey{
border:#dfe3e6 2px solid;
}
.hr-top{
border-top:#dfe3e6 2px solid;
padding-top:24px;
}
.hr-bottom{
border-bottom:#dfe3e6 2px solid;
padding-bottom:24px;
}

/* Forms */
input[type='text'], input[type='email'], input[type='password'], input[type='number'], select, textarea{
		-webkit-border-radius: 2px;    
		-moz-border-radius: 2px;
		border-radius: 2px;
		border:#5d7483 1px solid;
    padding:10px 12px;
    margin:.5em auto;
    width:100%;
    font-family: 'HelveticaNeueW01-55Roma', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:16px;
}
input:focus {
    box-shadow:#a5b7c2 0px 2px 3px;
}

/*  buttons  */
.button, button, input[type=button], input[type=submit] {
    display:inline-block;
    margin:36px auto 24px;
    font-family: 'HelveticaNeueW01-75Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 12px 40px;
    border-radius: 30px;
    border:none;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-border-radius: 30px;
}
.button_lg{
    padding: 18px 60px;
}
.button_orange, a.button_orange:link {
    background: #fd5000;
    color: #fff !important;
}
.button_orange:hover {
    background:#d0481d;
}
.button_white {
    background: #fff;
    color: #fe5009 !important;
    border: 1px solid #fe5009;
}
.button_white:hover {
    background: #fe5009;
    color: #fff !important;
}
.bg_orange .button_white:hover{
    background:#d0481d;
}
.button_blue {
    background-color: #008cc5;
    color: #FFF;
}
.button_blue:link, .button_blue:active, .button_blue:visited{
    color: #FFF;
}
.button_blue:hover, input[type=submit].button_blue:hover{
    background:#087bac; 
    color:#FFF;  
}
.button_grey {
    background-color: #5d7483;
    color: #FFF;
}
.button_grey:link, .button_grey:active, .button_grey:visited{
    color: #FFF;
}
.button_grey:hover, input[type=submit].button_grey:hover{
    background:#546977; 
    color:#FFF;  
}
.button_white-green{
    background:#FFF;
    color:#00b19f;
}

/* layout sections */
section, .outer {
    padding:48px 0px 72px !important;
		clear:both;
}
section [class*='col-'], .outer [class*='col-']{
    padding:0 24px;   
}

@media(max-width:768px){
section{
    padding:24px 24px !important;
}
section [class*='col-']{
    padding:0 24px 24px !important;   
}
section [class*='col-']:first-child{
    padding:24px 24px !important;
    /*padding-right:unset !important;*/
}
section [class*='col-']:last-child{
    padding:24px 24px !important;
    /*padding-left:unset !important;*/
}
}

/* content type */

[class*='col-'] img {
	margin:36px auto;
}
@media(max-width:768px) {
	[class*='col-'] img {
		margin:24px auto -12px;
	}
}

/* heros */
.hero1 {
    padding:96px 0 120px /*!important*/;
		text-align:center;
		/* default */background:url('https://www.act.com/images/default-source/background-images/hpbg.png') center center;
		background-size:cover;
		background-position:center center;
}
.hero1 p, .hero2 p, .hero3 p, .headline p{
	max-width:800px;
}
.hero2 {
    padding:72px 0 96px !important;
		text-align:center;
		background-size:cover;
		background-position:center center;
}
.hero3{
    padding:72px 0 96px !important;
}
.hero3 .col-2{
	margin:12px auto;
}
.hero3 .col-2 img{
	max-width:100px;
	max-height:100px;
	margin:0 auto;
}
.hero3 h1{
	margin:12px 0;
}
.headline{
	text-align:center;
	padding-bottom:36px !important;
}
.headline + section{
	padding-top:0 !important;
}
.banner{
	padding:24px 0px 48px !important;
}

@media(max-width:768px) {
.hero1, .hero2, .hero3 {
    padding:48px 24px;
}
.hero3{
	text-align:center;
}
}

.sidebar{
    margin:24px auto;
}

/* enewsletter */
section.act_newsletter h2{
	margin-bottom:0;
}
section.act_newsletter input.email {
    background: #edf0f2 url(http://act.com/images/default-source/UI-Kit/letter.gif) no-repeat;
    background-position: 20px center;
    color: #a8acb9;
    border: none;
    height: 42px;
    padding: 0 20px 0 50px;
    border-radius: 21px;
    -o-border-radius: 21px;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
		margin-top:36px;
}
@media(max-width:768px) {
	section.act_newsletter{
		text-align:center;
	}
	section.act_newsletter input.email, #enews_button{margin-top:0px;}
}

/* 3 Column Layouts */
.three-col{
	text-align:center;
	clear:both;
}
.three-col .col-4{
	margin-bottom:36px;
}
.three-col .col-4 div > div{
    border-radius: 21px;
    -o-border-radius: 21px;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
}
.three-col .col-4 img{
	height:100px;
}
.three-col .col-4 p{
	font-size:15px;
	line-height:21px;
}
.center-feature .col-4{
	padding:24px 0;
}
.center-feature .col-4:first-child, .center-feature .col-4:last-child{
	padding:24px;
}
.three-col .feature{
	padding:72px 24px;
	margin-top:-24px;
}
.three-col .feature .wrap{
	margin-top:-24px;
}
.three-col .wrap{
	height:160px;
	margin-bottom:24px;
}
.rowX{
	margin-top:-96px !important;
}
@media(max-width:768px) {
.three-col .wrap{
	height:unset;
	margin-bottom:0;
}
.three-col .col-4 {
    margin-bottom: 0;
}
.three-col .feature{
	margin-top:24px;
}
}

/* Embedded Video */

.vWrap{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
margin-bottom:24px;
}
.vWrap iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
border:none;
}


/* Form Validation */
input.needsfilled{
border:#cc0000 2px solid;
}