.overlay{
  display:none;
  background:#171d21;
  opacity:0.9;
  width:100%;
  height:5000px;
  position:absolute;
  top:0;
  left:0;
  z-index:1000;
}
.videoWrapper{
  display:none;
  width:100%;
  position:fixed;
  z-index:1001;
}
.videoContainer{
  max-width:600px;
  margin:7.5% auto;
}
.videoContainer video{
  width:100%;
}
.closeBtn{
  float:right;
  font-size:24px;
  margin:-21px -21px 0 0;
  color:#a5b7c2;
color:#fe5000;
}

.video-two-col .col-6{
margin: 0 0;
padding:0 0;
}
/* video thumbs */
.video-open{
  background:#171d21;
  cursor:pointer;
  opacity:.9;
  margin:0 12px 12px 0;
}
.video-open:hover{
  opacity:1;
}
/* video links */
a.video-open{
  background:none;
  opacity:1;
color:#fe5000;
}
a.video-open:hover{
color:#da4c1f;
}
a.video-open .glyphicon{
padding-right:12px;
}

.videoBgd{
  display:block;
  background:#2a353d;
  width:100%;
  opacity:0.9;
}
.video-data{
  position:relative;
  padding:9px !important;
}
.video-data h4{
  font-size:12px !important;
  line-height:14px !important;
  font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight:normal;
  color:#FFF;
  margin:0 0 3px 0;
}
.video-data h3{
  font-family: 'HelveticaNeueW01-65Medi', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight:normal;
  font-size:16px;
  line-height:18px;
font-weight:normal;
  color:#FFF;
  margin:0 0 0 0;
}
.video-data .glyphicon{
  color:#fe5000;
  font-size:30px;
  width:30px;
  display:block;
  position:absolute;
}

/* Video Thumbs */

/* 3-Column */
.video-open{
height:180px;
max-width:320px;
}
.videoBgd{
height:180px;
}
.video-data{
margin-top:-180px;
}
.video-data .glyphicon{
  margin:75px 33%;
}

/* 240px */
.fh240{
height:240px;
}
.fh240 .videoBgd{
height:240px;
}
.fh240 .video-data{
margin-top:-240px;
}
.fh240 .video-data .glyphicon{
  margin:20% 45%;
}
@media(max-width:768px){
.fh240 .video-data .glyphicon{
  margin:30% 40%;
}
}