/* Whats New */
.newsBlock{
	overflow:hidden;
	max-width:1170px;
	margin:48px auto;
}
.newsBlock a{
	color:#1D82A7;
	text-decoration:underline;
}
.newsBlock a:hover{
	color:#34566B;
}
.newsBlockItem{
	margin-bottom:48px;
}
.newsBlockHeader{
	overflow:hidden;
	border-bottom:#DFE3E6 2px solid;
	padding:0 24px;
	margin-bottom:24px;
}
.newsBlockHeader .fa {
    margin-top: 10px;
    margin-left: 20px;
    color: #A5B7C2;
    display: none;
}
.fa-chevron-up {
    display: none;   
}
.newsBlockHeader h2{
	font-family:'HelveticaNeueW01-65Medi',Helvetica,Arial,sans serif;
	color:#A5B7C2;
	margin-top:0;
    display: inline-block;
}
.newsBlockHeader h2 span{
	font-family:'HelveticaNeueW01-45Ligh',Helvetica,Arial,sans serif;
	font-size:1.2em;
	color:#FE5000;
}
.newsDate{
}
.newsIntro{
	background:#F7F9FA;
	padding:12px 24px;
	margin-top:-24px;
	margin-bottom:24px;
	text-align:center;
}
.newsIntro p:last-child{
	margin:0 0 0 0;
}
.newsContainer{
	overflow:hidden;
	background:url(/img/prem-blue-spacer.gif) top left repeat-y;
	background-size:8px auto;
}
.newsContainer ul{
	list-style-type:none;
	margin:0 0;
	padding:0 0 12px 0;
}
.newsContainer li.videoLink{
	text-indent:-13px;
	margin-left:24px;
}
.newsCopy{
	padding:0 48px 0 24px;
}
.newsCopy h3{
	font-family:'HelveticaNeueW01-65Medi',Helvetica,Arial,sans serif;
	color:#2A353D;
	text-transform:capitalize;
    font-size:1.25em;   
}
.newsCopy .glyphicon-play{
	padding-right:8px;
	color:#1D82A7;
}
.filterNews{
	text-align:center;
	padding:12px 0;
}
.orTextTransform{
	text-transform:none !important;
}
.note {
    font-size: 12px;   
}

.newsBody {
    /*display: none;*/   
}

@media(min-width:768px){
.newsBlock{
}
.newsBlockItem{
}
.newsBlockHeader{
	padding:0;
    cursor: pointer;
}
.newsBlockHeader h2{
	float:left;
}
.newsBlockHeader h2 span{
	padding-right:24px;
}
.newsDate{
	float:right;
	margin:0;
	padding:16px 0 0 0;
}
.newsIntro{
	padding:12px 240px;
}
.newsContainer{
	background-size:3px auto;
}
.newsCopy{
	padding:0 48px 0 24px;
}
.filterNews{
    text-align:right;
	padding:24px 0;
}
.filterNews select{
    max-width:200px;
    padding:6px;
}
}
