<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5912.0">
	<Sites>
		<add SiteName="act_com" SiteId="9948a693-39e5-4619-8819-aab8ea782d54" />
		<add SiteName="AU act.com" SiteId="9da163e7-96e1-633a-9d88-ff00001e67f5" />
		<add SiteName="FR-CA act.com" SiteId="d6e963e7-96e1-633a-9d88-ff00001e67f5" />
		<add SiteName="UK act.com" SiteId="a9ec63e7-96e1-633a-9d88-ff00001e67f5" />
	</Sites>
</analyticsConfig>