<?xml version="1.0" encoding="utf-8"?>
<blogsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5912.0">
	<contentViewControls>
		<contentViewControl definitionName="BlogsBackend">
			<views>
				<config:lazy key="BlogsBackendEdit" configFile="BlogsConfig.contentViewControls.BlogsBackend.views.BlogsBackendEdit.config" />
				<config:lazy key="BlogsBackendInsert" configFile="BlogsConfig.contentViewControls.BlogsBackend.views.BlogsBackendInsert.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="PostsBackend">
			<views>
				<config:lazy key="BlogsBackendEditPost" configFile="BlogsConfig.contentViewControls.PostsBackend.views.BlogsBackendEditPost.config" />
				<config:lazy key="BlogsBackendInsertPost" configFile="BlogsConfig.contentViewControls.PostsBackend.views.BlogsBackendInsertPost.config" />
				<config:lazy key="BlogsBackendDuplicatePost" configFile="BlogsConfig.contentViewControls.PostsBackend.views.BlogsBackendDuplicatePost.config" />
				<config:lazy key="BackendBlogPreviewPostView" configFile="BlogsConfig.contentViewControls.PostsBackend.views.BackendBlogPreviewPostView.config" />
				<config:lazy key="PostsBackendVersionPreview" configFile="BlogsConfig.contentViewControls.PostsBackend.views.PostsBackendVersionPreview.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="BlogPostsFrontend">
			<views>
				<config:lazy key="DetailBlogPostsFrontend" configFile="BlogsConfig.contentViewControls.BlogPostsFrontend.views.DetailBlogPostsFrontend.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
	<providers>
		<add title="UK act.com Blogs" applicationName="blogsProvider2" type="Telerik.Sitefinity.Modules.Blogs.Data.OpenAccessBlogProvider, Telerik.Sitefinity.ContentModules" enabled="True" name="blogsProvider2" />
		<add title="FR act.com Blogs" applicationName="blogsProvider3" type="Telerik.Sitefinity.Modules.Blogs.Data.OpenAccessBlogProvider, Telerik.Sitefinity.ContentModules" enabled="True" name="blogsProvider3" />
		<add title="AU act.com Blogs" applicationName="blogsProvider4" type="Telerik.Sitefinity.Modules.Blogs.Data.OpenAccessBlogProvider, Telerik.Sitefinity.ContentModules" enabled="True" name="blogsProvider4" />
	</providers>
</blogsConfig>