<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5912.0" multilingual="True">
	<cultures>
		<add culture="fr-CA" uiCulture="fr-CA" key="french (canada)-fr-ca" />
		<add culture="de" uiCulture="de" key="german-de" />
		<add culture="fr" uiCulture="fr" key="french-fr" />
		<add culture="pl" uiCulture="pl" key="polish-pl" />
	</cultures>
</resourcesConfig>