<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5912.0" multilingual="True">
	<cultures>
		<add culture="fr-CA" uiCulture="fr-CA" key="french (canada)-fr-ca" />
		<add culture="de" uiCulture="de" key="german-de" />
		<add culture="fr" uiCulture="fr" key="french-fr" />
		<add culture="pl" uiCulture="pl" key="polish-pl" />
		<add culture="nl" uiCulture="nl" key="dutch-nl" />
		<add culture="en-GB" uiCulture="en-GB" key="english (united kingdom)-en-gb" />
		<add culture="fr-FR" uiCulture="fr-FR" key="french (france)-fr-fr" />
		<add culture="de-DE" uiCulture="de-DE" key="german (germany)-de-de" />
	</cultures>
</resourcesConfig>