<?xml version="1.0" encoding="utf-8"?>
<sitemapConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5912.0">
	<siteConfigs>
		<add isEnabled="True" urlLimit="50000" compress="True" condition="Weekly" siteName="act_com" dayToStart="5" timeToStart="00:00" lastExecutionTime="2017-01-27T00:00:05.0377487Z" pingGoogle="True" pingBing="True" siteId="9948a693-39e5-4619-8819-aab8ea782d54" />
		<add isEnabled="True" urlLimit="50000" compress="True" condition="Weekly" siteName="uk act.com" dayToStart="0" timeToStart="00:00" lastExecutionTime="2017-01-29T00:00:03.0226931Z" pingGoogle="True" pingBing="True" siteId="a9ec63e7-96e1-633a-9d88-ff00001e67f5" />
		<add isEnabled="True" urlLimit="50000" compress="True" condition="Weekly" siteName="de act.com" dayToStart="0" timeToStart="00:00" lastExecutionTime="2017-01-29T00:00:01.0383690Z" pingGoogle="True" pingBing="True" siteId="c6a966e7-96e1-633a-9d88-ff00001e67f5" />
		<add isEnabled="True" urlLimit="50000" compress="True" condition="Weekly" siteName="au act.com" dayToStart="0" timeToStart="00:00" lastExecutionTime="2017-01-29T00:00:01.0539961Z" pingGoogle="True" pingBing="True" siteId="9da163e7-96e1-633a-9d88-ff00001e67f5" />
		<add isEnabled="True" urlLimit="50000" compress="True" condition="Weekly" siteName="fr act.com" dayToStart="0" timeToStart="00:00" lastExecutionTime="2017-01-29T00:00:01.4133694Z" pingGoogle="True" pingBing="True" siteId="24dd66e7-96e1-633a-9d88-ff00001e67f5" />
	</siteConfigs>
</sitemapConfig>